.todo-list {
  display: grid;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin-top: 5rem;
}

.todo-list li {
  box-shadow: 0 0 10px #3333332c;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-list li > * {
  padding: 1rem;
}

.todo-list label {
  flex-grow: 1;
}

.todo-list li button {
  border: none;
  background-color: transparent;
}

.todo-list li label.done {
  text-decoration: line-through;
}

.todo-list .remove {
  color: #ff0000;
  cursor: pointer;
}

.todo-list .remove:not(.done) {
  display: none;
}
